* {
    margin: 0;
    padding: 0;
}

div {
    border: solid black 1px;
}
p {
    border: solid rgb(216, 62, 62) 2px;
    height: 250px;
    width: 100px;
}

#main1 {
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
}
#main2 {
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: space-around;
}
#main3 {
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}
